<ion-header>
  <ion-navbar>
    <ion-title>
     
      قائمة الاصدقاء

      <div class="msearch">
        <ion-searchbar (ionInput)="getItems($event)" placeholder="ابحث عن صديق" showCancelButton="true" (ionCancel)="cancle()" ></ion-searchbar>

          <ion-icon name="search" id="search" (click)="sefr()" ></ion-icon>
          
      </div>

    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >


  
    <div class="myspinner">
        <i class="fa fa-spinner fa-pulse fa-1x fa-fw" id="loadsp" *ngIf="nofr"></i>
        <div class="noproblem">
            <i class="fa fa-frown-o" aria-hidden="true"></i>
            <p>لا يوجد اصدقاء</p>
        </div>
    </div>

<div class="myfriends">

  <ion-list>
    <ion-item *ngFor="let item of friends | async | reverse">
      <ion-avatar item-start>
        <img [src]="item.image">
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <button ion-button clear item-end (click)="sendHelp(item.fremail,item.name)" >شارك موقعك</button>
    </ion-item>

  </ion-list>

</div>


<div class="addfriend">


  <ion-list>
    
    <div class="shwornot" *ngFor="let item of items | reverse">
      <ion-item *ngIf="item.email != email">
          <ion-avatar item-start>
            <img [src]="item.image">
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <button ion-button clear item-end (click)="addfriend(item.email,item.name,item.image,item.id)" >اضافة كصديق</button>
        </ion-item>
  </div>
  </ion-list>

</div>

</ion-content>